/* === Reset + Base === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-bg);
  color: var(--main-fg);
  font-family: var(--font-main);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html, body, * {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
input, textarea, select {
  user-select: text !important;
  -webkit-user-select: text !important;
  cursor: text !important;
}
button, .cart-btn, .details-btn, .add-to-cart-btn,
.product-images img, .thumbnail-gallery img, #prevImgBtn, #nextImgBtn {
  cursor: pointer !important;
}
.product-images img#mainImage {
  cursor: default !important;
}
